.banner{
  background-image: url(../../../assets/banner--details-1.jpg), 
  linear-gradient(rgba(255, 255, 255, 0.6),#f1f0f080);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}